# Core
streamlit==1.28.2
streamlit-aggrid==0.3.4.post3

# Data
pandas==1.5.3
numpy==1.25.1

# Excel
openpyxl==3.1.2
XlsxWriter==3.1.2
xlrd==2.0.1
pyxlsb==1.0.10

# XML
lxml==4.9.3
xmltodict==0.13.0

# Bokeh integration
bokeh==2.4.3
streamlit-bokeh-events==0.1.2

# Utils
Unidecode==1.3.6
python-dateutil==2.8.2
pytz==2023.3
